body,div,p,h1,h2,h3,h4,h5,ul,li,ol {
	margin:0;
	padding:0;
}

ul,li,ol {
	list-style: none;
}

a {
	text-decoration: none;
	color:inherit;
}

img {
  border:0;
}

body {
	font-family: proxima-nova,"Microsoft YaHei",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color:#2e2e2e;
	position: relative;
	/*background: #eaf0f0;*/
  margin:0;
  padding:0;
}

.header-wrapper {
  padding:10px 0 40px 0;
  background:#f8f8f5;
}

.site-header {
  width:100%;
  max-width: 980px;
  margin:0 auto;
}

.logo {
  margin-top:45px;
  font-size: 16px;
}
.logo>a>img,.logo>a>span {
  display: block;
}
.logo>a>span {
  margin-left: 10px;
}

.main-content {
  margin:45px auto;
  width:100%;
  max-width: 980px;
  background: #f8f8f5;
  padding:25px;
  box-sizing: border-box;
  min-height: 200px;
  overflow: hidden;
}

.location {
  font-size: 16px;
  font-weight: bold;
}

.bookname {
  text-align: center;
}
.chapter_title {
  margin:20px 0;
}

#content {
	font-size: 18px;
}

.controller {
	text-align: center;
	margin:10px 0;
}

.banner {
	width: 100%;
	max-width: 1134px;
	height: 327px;
	margin:0 auto;
	background: url(../img/banner.jpg) no-repeat center center;
}
.book-name {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #e8e8e8;
}
.booklist {
	width: 100%;
	max-width: 1134px;
	margin:0 auto;
}
.booklist span {
	display: inline-block;
	float: left;
	width: 33.3%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
